<div class="center container">
	<div class="container">
		<div class="container">
<h3>Sign In</h3>
<%= form_for :user do |f| %>
  <%= f.email_field :email, placeholder: "Enter your email" %>
  <%= f.password_field :password, placeholder: "Enter your password" %>
<%= link_to "Login with Facebook", "/auth/facebook", class: "btn facebook" %>
<br>
  <%= f.submit "Login", class: "btn" %>
<% end %>

		</div>
	</div>
</div>
