
<div class="container center">
    <h1>Profile</h1>
    <div class="row">
        <div class = "col s6">
            <div>
                <h4>Name</h4>
                <%= @current_user[:name]%>
                <h4>Email</h4>
                <%= @current_user[:email]%>
                <h4>Zip Code</h4>
                <%= @current_user[:zip_code]%>
            </div>
            <div>
            <%if (@current_user[:notification_type] && @current_user[:notification_freq]) %>
            <h4>Notifications</h4>
              <%=@current_user[:notification_type]%>
              <%=@current_user[:notification_freq]%>
              <%else%>
                <p>You do not currently have notifications enabled</p>
            <%end%>
            </div>
        </div>
        <div class="col s6">
            <h4>Watering Categories</h4>
                <img src="/d.png">
                <img src="/w.png">
        </div>
        </div>
        <a href="/profile/edit" class="btn">Edit your profile</a>
    </div>
